    h4 {
        color: rgb(14, 167, 223);
    }

    .descricao {
        color: rgb(21, 14, 223);
    }

    .preco {
        color: rgb(14, 223, 105);
        font-size: medium;
    }

    #titulo_geral {
        color: rgb(52, 14, 223);
        font-size: xx-large;
    }

    .card{
        height: 300px;
        width: 300px;
        border-color: rgb(42, 42, 42);
        border-radius: 2px;
        border-style: groove;
        margin: 2px;
        padding: 2px;
    }

    .card_principal{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }